// overrides
@import"components/color";
@import"components/variables";
@import"components/fonts";

// import bootstrap
@import"../node_modules/bootstrap/scss/bootstrap.scss";

// components
@import"components/reset";
@import"components/header";
@import"components/hero_banner";
@import"components/available_services_home";
@import"components/services_block";
@import"components/empower_living";
@import"components/about_ndis";
@import"components/testimonials";
@import"components/asked_questions";
@import"components/footer";
@import"components/inner_banner";
@import"components/card_house";
@import"components/card_box";
@import"components/single_house";
@import"components/ndis_stepes";
@import"components/faq";
@import"components/about_empower";

// responsive
@import"components/responsive";







