.about-inner-banner {
  text-align: center;

  h2 {
    color: $white;
    margin-bottom: 60px;

    span {
      color: $primary;
    }
  }
}
.about-empower-block-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .empower-block {
    color: $white;
    text-align: center;

    .empower-icon-wrapp {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      background-color: $white;
      border-radius: 50%;
      margin: 0 auto 12px;

      span {
        font-size: 32px;
        color: $gray;
      }
    }
  }
}

.about-head {
  padding: 0 150px;
  margin-bottom: 70px;
  text-align: center;

  span.material-icons{
    color: $gray;
    font-size: 52px;
    vertical-align: middle;
    margin-right: 20px;
  }
}
