.services-inner-wrapp{
    background-image: url(/assets/img/service-available-bg.png);
    background-size: cover;

    h2, h4{
        margin-bottom: 28px;
    }
}
.available-service-list-wrapp{
    ul{
        padding-left: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: auto auto;

        li{
            list-style: none;
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 50px;


            &:last-child{
                margin-right: 0;
            }

            a{
                display: inline-block;
                color: $dark;
                font-weight: 700;

                .service-images{
                    width: 80px;
                    height: 80px;
                    display: block;
                    margin-bottom: 25px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &:hover{
                    color: $green;
                }
            }
        }
    }
}
.column-four{
    ul{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}