.blog-banner-wrapp {
  padding: 15px;
  border-radius: 20px;
  background-color: $indigo;
  margin-bottom: 40px;

  .blog-banner-image {
    img {
      width: 100%;
    }
    border-radius: 15px;
    overflow: hidden;
  }
  .blog-banner-content {
    span {
      display: block;
      margin-bottom: 15px;
    }
    .btn {
      span {
        display: inline;
        vertical-align: middle;
      }
    }
  }
}

.blog-post-wrapper {
  .blog-post-thumb {
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: $dark;

    .blog-post-image {
      width: 100%;
      height: 215px;
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    span {
      color: $secondary;
    }
  }
}

.load-more {
  span {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    background-color: $indigo;
    padding: 15px;
    border-radius: 20px;
    color: $white;
  }
}

.resources-wrapper{
  background-color: $gray-200;

.resources-block-wrapp {
  padding: 15px;
  border-radius: 20px;
  background-color: $white;
  .resources-post-image {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    margin-bottom: 30px;
  }
  a{
    display: block;
    margin-bottom: 30px;
  }
}
}


.resources-items {
  .slick-next::before,
  .slick-prev::before {
    color: $secondary;
  }

  .slick-next {
    right: -40px;
  }
  .slick-prev {
    left: -70px;
  }
  .slick-prev::before {
    content: "\f1e6";
    font-family: "Material Icons";
    font-size: 24px;
    padding: 10px;
    border: 2px solid $secondary;
    border-radius: 15px;
  }
  .slick-next::before {
    content: "\f1df";
    font-family: "Material Icons";
    font-size: 24px;
    padding: 10px;
    border: 2px solid $secondary;
    border-radius: 15px;
  }

  .slick-list {
    margin: 0 0;
  }
  .slick-slide {
    margin: 0 10px;
  }
}