.section-house {
  padding: 100px 100px 60px;

  h3 {
    margin-bottom: 40px;
  }
}
.card-house-wrapp {
  padding: 20px;
  border-radius: 20px;
  background-color: $white;
  display: block;
  margin-bottom: 40px;
  color: $dark;

  &:hover {
    color: $dark;
  }

  h4 {
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .card-house-image-wrapp {
    width: 100%;
    height: 225px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    

    &:hover img{
      transform: scale(1.15);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s;
    }
  }
}
