$primary: #ffb34e;
$secondary: #4748be;
$dark: #212121;

$brown: #172643;
$indigo: #97b9ff;
$white: #ffffff;
$black: #000000;
$teal: #989898;

$green: #015057;
$cyan: #d5effb;
$gray: #02bf92;

$gray-100: #484848;
$gray-200: #EEEEEE;
$gray-300: #FFDEB2;
$gray-400: #DCDCDC;
$gray-500: #F5F5F5;
$gray-600: #BDBDBD;
$gray-700: #757575;

// $red-100: #D8546C;
// $indigo-100: #F2B04D;#97B9FF
// $teal-light: #ECFBC7;
// $red-light: #FCE4BE;
