
$font-family-sans-serif: 'GT Walsheim Pro', sans-serif;
$font-family-serif: 'GT Walsheim Pro', sans-serif;

$font-family-base: 'GT Walsheim Pro', sans-serif;


@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-Light.eot');
  src: local('GT Walsheim Pro Light'), local('GTWalsheimPro-Light'),
      url('../../assets/fonts/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-Light.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-Light.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-Regular.eot');
  src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
      url('../../assets/fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-Regular.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-ThinOblique.eot');
  src: local('GT Walsheim Pro Thin Oblique'), local('GTWalsheimPro-ThinOblique'),
      url('../../assets/fonts/GTWalsheimPro-ThinOblique.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-ThinOblique.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-ThinOblique.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-ThinOblique.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-Thin.eot');
  src: local('GT Walsheim Pro Thin'), local('GTWalsheimPro-Thin'),
      url('../../assets/fonts/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-Thin.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-Thin.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-BoldOblique.eot');
  src: local('GT Walsheim Pro Bold Oblique'), local('GTWalsheimPro-BoldOblique'),
      url('../../assets/fonts/GTWalsheimPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-BoldOblique.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-BoldOblique.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-MediumOblique.eot');
  src: local('GT Walsheim Pro Medium Oblique'), local('GTWalsheimPro-MediumOblique'),
      url('../../assets/fonts/GTWalsheimPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-MediumOblique.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-MediumOblique.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-Bold.eot');
  src: local('GT Walsheim Pro Bold'), local('GTWalsheimPro-Bold'),
      url('../../assets/fonts/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-Bold.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-Medium.eot');
  src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
      url('../../assets/fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-Medium.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-RegularOblique.eot');
  src: local('GT Walsheim Pro Regular Oblique'), local('GTWalsheimPro-RegularOblique'),
      url('../../assets/fonts/GTWalsheimPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-RegularOblique.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-RegularOblique.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-RegularOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-LightOblique.eot');
  src: local('GT Walsheim Pro Light Oblique'), local('GTWalsheimPro-LightOblique'),
      url('../../assets/fonts/GTWalsheimPro-LightOblique.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-LightOblique.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-LightOblique.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}



@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-BlackOblique.eot');
  src: local('GT Walsheim Pro Black Oblique'), local('GTWalsheimPro-BlackOblique'),
      url('../../assets/fonts/GTWalsheimPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-BlackOblique.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-BlackOblique.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../assets/fonts/GTWalsheimPro-Black.eot');
  src: local('GT Walsheim Pro Black'), local('GTWalsheimPro-Black'),
      url('../../assets/fonts/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
      url('../../assets/fonts/GTWalsheimPro-Black.woff2') format('woff2'),
      url('../../assets/fonts/GTWalsheimPro-Black.woff') format('woff'),
      url('../../assets/fonts/GTWalsheimPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

