.footer-top-block{
    padding: 60px 40px;
    border-radius: 40px;
    text-align: center;

    p{
        margin-bottom: 40px;
    }

    .btn-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}