.top-navbar-wrapp {
  padding: 10px 0;
  background-color: $indigo;

  .btn-icon .material-icons {
    margin-right: 10px;
  }

  .search-wrapp {
    width: 200px;

    .form-control {
      padding: 5px 5px 5px 35px;
      border: 1px solid $teal;

      ::placeholder {
        font-size: 14px;
      }
    }

    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: $dark;
    }
  }
}

.main-navbar-wrapp {
  margin-bottom: 10px;

  .empower-living {
    width: 194px;
    height: auto;
    display: block;

    .empower-living img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ul li {
    margin-right: 25px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .dropdown-menu{
    li{
      margin-right: 0;
    }
  }

  .navbar-nav .dropdown-menu {
    top: 65px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
  }
}

.col-megamenu {
  ul {
    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $secondary;
        font-weight: 500;
      }
    }
  }
}
.megamenu {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
  h4 {
    margin-bottom: 20px;
  }
}
.col-megamenu.services {
  ul {
    li {
      a {
        padding: 20px 15px;
        background-color: $indigo;
        color: $brown;
        margin-bottom: 20px;
        display: block;
        border-radius: 20px;
        font-weight: 500;
      }

      &:last-child a {
        margin-bottom: 0;
      }
    }
  }
}
.col-megamenu.normal {
  ul {
    li {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
