.hero-banner-inner {
  padding: 60px 100px 0;
  background-color: $green;
  border-radius: 40px;
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

  P {
    color: $white;
  }
  .btn {
    margin: 0 auto 25px;
  }

  span.material-icons.md-92 {
    font-size: 92px;
    color: $gray;
    display: inline-block;
    vertical-align: middle;
  }

  .hero-banner-images-wrapp {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      align-items: end;
      justify-content: space-between;

      li {
        list-style: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .image-one{
        width: 360px;
      }
      .image-two{
        width: 253px;
      }
      .image-three{
        width: 436px;
      }
    }
  }
}
