.team-block-wrapper{
    padding: 40px;
    border-radius: 20px;
    background-color: $gray-200;

    .team-block-image img{
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
    .team-block-content{
        span{
            display: block;
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 0;
        }
    }
}