.section-row-large{
    padding: 120px 0px;
}
.section-row-medium{
    padding: 80px 100px;
}
.section-row{
    padding: 60px 0;
}
.section-row-small{
    padding: 40px 0;
}
// ======================================= //

.search-wrapp{
    ::placeholder{
        font-size: 16px;
      }
}
::placeholder{
    font-size: 20px;
  }

.heading{
    text-align: center;
}


.brown{
    background-color: $brown;
}
.secondary{
    background-color: $secondary;
}
.indigo{
    background-color: $indigo;
}
.green{
    background-color: $green;
}
.gray-200{
    background-color: $gray-200;
}
.gray-300{
    background-color: $gray-300;
}
.gray-500{
    background-color: $gray-500;
}
.gray{
    color: $gray;
}
.btn-primary{
    color: $dark !important;
}
.white{
    background-color: $white;
}


