.section-row-large{
    padding: 135px 0px;
}
.section-row{
    padding: 60px 0;
}
.inner-row{
    padding: 80px 100px;
    border-radius: 40px;
}

.heading{
    text-align: center;
}


.brown{
    background-color: $brown;
}
.secondary{
    background-color: $secondary;
}
.indigo{
    background-color: $indigo;
}
.green{
    background-color: $green;
}
.gray-200{
    background-color: $gray-200;
}
.gray-300{
    background-color: $gray-300;
}


