// $body-bg: $light;
$body-color: $dark;

$line-height-base:  1.3;

$font-weight-base: 400;

$paragraph-margin-bottom:   1.25rem;

$headings-line-height: 1.1;
$headings-font-weight: 700;

$font-size-base: 20px;
$nav-link-height: $font-size-base;

$h1-font-size: 92px;
$h2-font-size: 52px;
$h3-font-size: 38px;
$h4-font-size: 28px;


$link-decoration: none;

$btn-border-radius: 20px;
$btn-border-radius-sm: 12px;
$btn-border-radius-lg: 12px;

$btn-padding-y: 15px;
$btn-padding-x: 25px;


$btn-font-size: 20px;
$btn-font-weight: 500;

$btn-font-size-sm: 20px;

$input-border-radius: 20px;
$input-border-radius-lg:  20px;
$input-border-radius-sm:  12px;

$input-padding-y-lg: 13px;

$input-focus-box-shadow: transparent;
$input-bg: $gray-500;
$input-placeholder-color: $teal;
$input-border-color: $gray-600;


$accordion-bg: $gray-200;
$accordion-color: $dark;
$accordion-border-color: $gray-200;
$accordion-border-radius: 20px;

$accordion-button-active-color: $secondary;

$accordion-button-focus-box-shadow: transparent;

